body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* trebuie sa fie scoase ca sa mearga pentru oricate elemente, dar cu scrollbar urat */
    /* overflow: hidden;
    min-height: 1000px; */
}

.logoul {
    width: 10%;
    float: left;
}

.home {
    margin-left: 28%;
}

form {
    text-align: center;
}

table {
  width: 100%;
}

th,
td {
  width: 100px;
}

thead>tr {
  position: relative;
  display: block;
}

tbody {
  display: block;
  height: 450px;
  overflow: auto;
}

/* pentru a ascunde scrollbar-ul din tabel
tbody::-webkit-scrollbar {
  display: none;
}
*/