@import url(http://fonts.googleapis.com/css?family=Open+Sans);

li.pages {
    color: #95a2ce;
    display: inline;
    padding: 1%;
}

li.pages a {
    text-decoration: none;
}

.gym-navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 3px 3px grey;
    height: 70px;
}

.gym-container {
    background: url(./images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.gym-container {
    position: relative;
    overflow: hidden;
    min-height: 1000px;
    width: 100%;
    height: 100%;
}

.content {
    padding-top: 70px;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content::-webkit-scrollbar {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Open-Sans', sans-serif;
    overflow: hidden;
    color: #95a2ce;
    /* trebuie sa fie scoase ca sa mearga pentru oricate elemente, dar cu scrollbar urat */
    /* overflow: hidden;
    min-height: 1000px; */
}

.logoul {
    width: 10%;
    float: left;
}

.home {
    margin-left: 28%;
}

form {
    text-align: center;
}

table {
  width: 100%;
}

th,
td {
  width: 100px;
}

thead>tr {
  position: relative;
    /* pls don't touch dis ty
  display: block; */
}

tbody {
    /* pls don't touch dis either ty
  display: block; */
    /* inaltimea tabelului o sa creasca in functie de cate elemente sunt in el */
  min-height: 450px;
  overflow: auto;
}

/* pentru a ascunde scrollbar-ul din tabel
tbody::-webkit-scrollbar {
  display: none;
}
*/
