.delete-btn{
    background-image: linear-gradient(to right, #748ccc 0%, #98c2f1 51%, #748ccc 100%);
    cursor:pointer;
    overflow: hidden;
    border-width: thin;
    border-radius: 3px;
    outline: none;

    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

.delete-btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.add-btn{
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to right, #748ccc 0%, #98c2f1 51%, #748ccc 100%);
    cursor:pointer;
    overflow: hidden;
    border-width: thin;
    border-radius: 3px;
    outline: none;

    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

.add-btn:hover {
    background-position: right center; /* change the direction of the change here */
}